stages:
  - test

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

services:
  - docker:dind   

test_job:
  stage: test
  image: docker:stable   
  script:
    - echo "starting tests..."
    - docker compose version   
    - docker compose up --build --abort-on-container-exit   
    - echo "tests passed successfully!"
    - docker compose down --volumes   
  tags:
    - docker   