version: "3.2"

services:
  elasticsearch:
    image: elasticsearch:9.2.3
    container_name: elsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports: 
      - "9200:9200"
    healthcheck: 
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 10s
      timeout: 5s
      retries: 10

  app: 
    build: .
    container_name: python-app
    depends_on:
      elasticsearch:
        condition: service_healthy   
    volumes:
      - .:/app