name: CI

on:
  push:
    branches: [ main ]  
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Compose
      run: |
        docker compose up --build --abort-on-container-exit


    - name: Cleanup
      if: always()
      run: docker compose down